body{
    font-family: "EB Garamond" serif;
}

footer{
	font-weight: bolder;
	font-family: "EB Garamond", serif;
	font-size: small;
}



* {
	border: 1px;

	padding: 2px;

}

p{
	font-family: "EB Garamond", serif;
	line-height: 2.0;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;

	display: grid;
	grid-template-columns: 218px 1fr 200px;

}

header{
	grid-column: 1/2;
}


aside {
	grid-column: 2/4;
	align-self: end;
	font-size: 18px;
	line-height: 1.3;
}

img {
	grid-column: 1/2;
}

main{
	grid-column: 1/4;
}

footer{
	grid-column: 1/2;
}

nav{
	grid-column: 2/4;
}

section{
	display: block;
	grid-column: 1/4;
}



nav ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
}

nav li{
	margin-left: 20px;
}

nav a{
	font-family: "EB Garamond", serif;
	text-decoration: none;
}


aside ul{
	font-family: "EB Garamond",serif;
	font-size: 17px;
	list-style-type: none;
	margin-bottom: 5px;
}



.is-current {
		background-color: black;
 		color: white;
}



header a{
	display: block;
	position: relative;
}

header h1{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-81px;
	font-family: "Proxima Nova", serif;
	font-size: 27px;
	color: black;
}

header h2{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:87px;
	left:-81px;
	font-family: "Proxima Nova", serif;
	font-size: 27px;
	color: black;
}

header h3{
	transform: rotate(-90deg);
	position: absolute;
	z-index: 100;
	top:55px;
	left:-106px;
	font-family: "Proxima Nova", serif;
	font-size: 27px;
	color: black;
}


